body {
    background-image: url(https://wallpaperaccess.com/full/3461470.jpg);
    background-color: aliceblue;
}

h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}

.board {
    background-color: burlywood;
    height: 300px;
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
   

    
}
.cup {
    height: 100px;
    width: 100px;
    background-color:cornflowerblue;
    border-style: solid;
    border-radius: 35%;
    display:inline-flex;
    position: relative;
    margin: 7px; 
    left: 125px;
    top: 20px;
    font-size: 50px;
    color:black;
}

.topRow { 
    margin-top: 10px;
}

.bottomRow {
    margin-top: 10px;

}

.store {
    height: 250px;
    width: 100px;
    background-color: cornflowerblue;
    border-style: solid;
    border-radius: 35%;
    display:inline-flex;
    position: relative;
}

#cpu {
    position: absolute;
    font-size: 50px;
    color: black;
}

#p1 {
    position: absolute;
    right: 0px;
    font-size: 50px;
    color:black;
}